<div class="container">
	<div id="titlerow" class="row text-center">
		<div class="col-lg-12">
			<h1>Todo App</h1>
		</div>
	</div>

	<div id="inputrow" class="row">
		<div class="col-lg-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="To do." aria-describedby="save-addon">
				<span class="input-group-addon label-success" id="save-addon">Save</span>
			</div>			
		</div>
	</div>

	<div id="itemsrow" class="row">
		<div class="col-lg-12">
			<ul class="list-group">
				<% @items.each do |item| %>
					<li id="item<%= item.id %>" class="list-group-item"><%= item.name %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
